<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <link rel="stylesheet" href="htt://localhost/mcv_objet/public/css/styles.css">
    <title>MonSite - {% block title %}{% endblock %}</title>
  {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>